[licenses]
allow = ["Apache-2.0", "ISC", "MIT", "Zlib"]
confidence-threshold = 0.8
exceptions = [{ allow = ["Unicode-3.0"], crate = "unicode-ident" }, { allow = ["MPL-2.0"], crate = "option-ext" }]

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"
allow = []
deny = ["libyml", "serde_yml"]

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[sources.allow-org]
github = []
gitlab = []
bitbucket = []
