body {
  font-family: 'Noto Sans', sans-serif;
  width: 400px;
}

#main {
  padding: 10px;
}

.panel {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.footer-button {
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid #dfe1e5;
  height: 32px;
  width: 32%;
  text-align: center;
  background-color: #eee;
  border-radius: 6px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.footer-button:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.footer-button:active {
  background-color: #aaa;
}

.hidden {
  display: none;
}
