#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Noto Sans', sans-serif;
  height: 100px;
}

#search-input {
  width: 50%;
  max-width: 600px;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
