#search-header {
    display: flex;
    justify-content: center;
    align-content: center;
}

#name {
    font-size: 24px;
    margin-top: 4px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    width: 20%;
}

#blank {
    width: 20%;
}

#search-form {
    display: flex;
    gap: 10px;
    width: 60%;
    max-width: 600px;
}

#search-input {
    width: 100%;
}

a.no-link-style {
    color: inherit;
    text-decoration: none;
}

a.no-link-style:hover,
a.no-link-style:focus {
    text-decoration: underline;
}

#results-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
}

.no-results {
    text-align: center;
    font-size: 18px;
    color: #757575;
}

@media (max-width: 750px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 750px) {
    #results-container {
        margin-top: 50px;
    }
}
