body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 20px;
  background: #fff;
}

main {
  text-align: center;
  margin-top: 150px;
}

#search-form input[type='text'],
#search-form input[type='submit'] {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #dfe1e5;
  padding: 0 10px;
  font-size: 14px;
  margin: 0;
  outline: none;
  height: 44px;
  border-radius: 6px;
}

input[type='submit'] {
  width: 100px;
  background-color: #eee;
  cursor: pointer;
  border: none;
}

#search-input:hover,
#search-input:focus,
input[type='submit']:hover,
input[type='submit']:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}

input[type='submit']:active {
  background-color: #aaa;
}
